.InputTitle {
    word-wrap: break-word;
    width: 100%;
    background-color: rgba(241, 241, 241, 1);
    border-style: none;
    height: 5rem;
}

.InputTitle:focus {
    border: 3px solid rgba(0, 108, 51, 1);
}

.SelectInput {
    width: 100%;
    background-color: rgba(241, 241, 241, 1);
    border-style: none;
    font-size: 1rem;
    height: 2.5rem;
}

.ImageUploadButton {
    width: 100%;
    margin-top: 3em;
    height: 25vw;
    border-style: none;
    background-color: rgba(217, 217, 217, 1);
}

.ImageUploadButton img {
    width: 20%;
    position: relative;
    overflow: hidden;
}

.EndButton {
    width: 40%;
    height: 3rem;
    border-color: rgba(0, 108, 51, 1);
    color: rgba(0, 108, 51, 1);
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0);
    margin: 5%;
}

.PrimaryButton {
    color: white;
    background-color: rgba(0, 108, 51, 1);
}