.HeadImage {
    width: 100%;
    height: 38vh;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

.HeadImage img {
    width: 100%;
}

.HomeListContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2em;
    width: 100%;
}

.HomeListContainer div { 
    text-align: center;
    font-size: 30px;
    height: 30vh;
    position: relative;
    overflow: hidden;
}

.NewsChild img{
    min-width: 100%;
    min-height: 30vh;
}


.NewsChild .Overlay{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.NewsChild:hover .Overlay{
    opacity: .75;
}

.NewsChild .Overlay p {
    padding: 10%;
    text-align: left;
    color: #ffffff;
    font-size: 16px;
}

.HomeList {
    width: 100%;
}

.HomeListTitle::after {
    display: table;
    clear: both;
    position: relative;
}

.HomeListTitle div {
    float: left;
    width: 50%;
    height: 5em;
    
}

.HomeListTitleButton {
    margin-block-start: 1.5em;
    margin-block-end: 0.83em;
    height: 2em !important;
}

.SeeAllButton {
    color: rgba(0, 108, 51, 1);
    font-weight: bolder;
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
    float: right;
    font-size: 1.25em;
}