.EmptyDataTable {
    width: 90%;
    text-align: center;
    padding: 5%;
}

.ListTable {
    width: 100%;
    border-collapse: collapse;
}

.ListTable th, td {
    border: 1px solid #dddddd;
}

.ListTable th {
    background-color: rgba(0, 0, 0, 0.05);
    /*padding: 0 1vw;*/
}

.ListTable td {
    padding: 0 0.5em;
}

.ListTable .ID{
    width: 5%;
}

.ListTable .Title {
    width: 65%;
}

.ListTable .Category {
    width: 7.5%;
}

.ListTable .UpdateTime {
    width: 10%;
}

.ListTable .ToDo {
    width: 12.5%;
}

.ToDoButton {
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
    color: rgba(0, 108, 51, 1);
    font-size: 1rem;
}


.ListSearchInput label {
    color: rgba(0, 108, 51, 1);
    font-size: 1rem;
}

.ListSearchInput label input{
    width: 96%;
    padding: 1%;
    font-size: 1rem;
    background-color: rgba(241, 241, 241, 1);
    border-style: none;
}

.ListSearchInput label select{
    width: 96%;
    padding: 1.29%;
    font-size: 1rem;
    background-color: rgba(241, 241, 241, 1);
    border-style: none;
}

.ListSearchForm {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10vw;
    width: 100%;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}

.ListSearchForm div { 
    position: relative;
}

.SearchButton {
    float: right;
    background: rgba(0, 108, 51, 1);
    color: #ffffff;
    border-style: none;
    width: 30%;
    min-width: 5rem;
    font-size: 1rem;
    height: 100%;
    border-radius: 5%;
}