.Navbar {
    background-color: #ffffff;
    height: 5em;
    width: 100vw;
    top: 0;
    padding: 0px 6.25vw ;
    position: fixed;
    
}
.Navbar:after {
    display: table;
    clear: both;
    position: relative;
  }

.NavLogo {
    float: left;
    width: 20vw;
    height: 100%;
}

.NavSpace {
    float: left;
    width: 67.5vw;
    height: 100%;
}

.Logo {
    margin-top: 1.25em;
    height: 2.5em;
}


.LangaugeButton {
    width: 3em;
    height: 3em;
    color: black;
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
    
}
.ActiveLangaugeButton {
    width: 3em;  
    height: 3em;
    color: black;
    font-weight: bolder;
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
    
}

.LanguageSelector {
    width: 7em;
    height: 3em;
    margin-top: 1em;
    float:right;  
}