.TemplateSideBar::after {
    display: table;
    clear: both;
}
.MainContent{
    width: 70%;
    float: left;
}

.SideBarContent{
    width: 30%;
    float: left;
}

.Label{
    color: rgba(0, 108, 51, 1);
}

.ContentBlock-L {
    margin-top: 3%;
    width: 90%;
}
.ContentBlock-R {
    margin-top: 3%;
    width: 100%;
}
.ContentImage {
    width: 100% !important;
}
.ContentButton {
    width: 100% !important;
    height: 3rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(0, 108, 51, 1);
    border-style: none;
}