.UltraBig {
    font-size: 10rem;
    margin-top: 0;
    margin-bottom: 0;
}

.HeadLowMargin {
    margin-top: 0;
    margin-bottom: 0;
}

.Description {
    font-size: 1.25rem;
}

.BlockContainer {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: auto;
}