.WebMapButton {
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
}

.WebMapCurrentButton {
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
}

.WebMapButton h1 {
    white-space: nowrap; 
    font-weight: lighter;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.WebMapCurrentButton h1 {
    white-space: nowrap; 
    font-weight: bolder;
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis; 
}

