@import './asset/Navbar.css';
@import './asset/WebMap.css';
@import './asset/Footer.css';
@import './asset/HomePage.css';

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html * {
    font-family: Kanit ;
}

.Page {
    margin-top: 0px;
}

.Container {
    margin-top: 5em;
    padding-bottom: 5em;
    padding: 2vh 6.25vw ;
}

